body {
  background: lightblue;
}

ul {
  list-style-type: none;
}

li a {
  text-decoration: none;
  color: darkgrey;
}

li a:hover {
  color: grey;
}

.item {
  background: white;
  margin-bottom: 10px;
}

